mat-card{
    width: 25%;
    display: flex;
    float: left;
   
}
*{
   
    min-height: 200px;
}
p{
    font-size: 40px;
    font-family: 'Mogra', cursive;
    text-align: center;
    width:100%;
    background-color: #00b8d4;
     border : dashed 5px;
    border-color: whitesmoke;
}
